//colors
$color_background: #E4E4DC;
$color_header_text: #EFEFED;
$color_text: #383735;
$color_awards: #D7B0A1;

//fonts
$font_head: 'Times';
$font_sections_head: 'Times';
$font_sections_text: 'Open Sans';
$font_footer: 'Times';