@import './config.scss';

main {
    position: relative;
    margin: auto 5%;
}

section {
    background: $color_background;
}

.line {
    border: 1px solid $color_text;
    position: absolute;
    width: 100%;
    transform: translate(0%);
}

h1 {
    font-family: $font_head;
    color: $color_text;
}

h2 {
    font-family: $font_sections_text;
    font-weight: bold;
    letter-spacing: 0;
    color: $color_awards;
}

h3 {
    font-family: $font_sections_text;
    color: $color_text;
}

span {
    @extend h2;
}

article {
    line-height: 2;
    font-size: 2em;
    text-align: center;
    border: none;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: $color_header_text;

    .whiteBorder {
        padding: 10px 10px 10px 10px;
        background-color: $color_header_text;
        position: relative;

        .rightArrowHorizontal {
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
            position: absolute;
            right: 0;
            margin-top: -20%;
        }


        .border {
            border: 2px solid $color_text;
            box-sizing: border-box;
            padding: 50px 50px 50px 50px;
            margin: 20px 20px 20px 20px;
            background-color: $color_header_text;

            .lineWhiteBorder {
                @extend .line;
                width: 70%;
                transform: translate(8%);
            }
        }

    }

    .topRightImageContainer {
        position: absolute;
        width: 100%;
        top: 0;

        .bigImg {
            position: absolute;
            transform: translateY(-50%);
            right: 0;
        }

        .crabImg {
            position: absolute;
            left: -50px;
            bottom: -25px;
        }

        .textContainer {
            width: 100%;
            height: 100vh;
            position: relative;
            overflow: hidden;
            width: 100%;

            .imgFale {
                position: absolute;
                right: 0;
                top: 0;
                transform: translate(15%, 100%);

            }

            .textOnImg {
                width: 540px;
                position: absolute;
                transform: translateY(60%);
                top: 0;
                right: 20px;
            }
        }
    }
}

.bottomContainer {
    position: relative;
    width: 100%;
    font-size: 2rem;

    .overflow {
        overflow: hidden;
        width: 100%;

        .textBanner {
            box-sizing: border-box;
            margin-top: 10%;
            background-color: $color_header_text;
            z-index: 1;

            .anchor {
                position: absolute;
                top: 0;
                margin-left: 4%;
                transform: translateY(132%);
            }

            .textProps {
                margin-left: 2%;
                padding: 5%;
                width: 500px;

                .lineBottomContainer {
                    @extend .line;
                    width: 40%;
                    transform: translate(-35%);
                }
            }

            .downArrowVertical {
                position: absolute;
                top: 0;
                margin-left: 80%;
                transform: translateY(290%);
            }
        }

        .mapImg {
            position: relative;
            margin-bottom: 10%;


            .wheel {
                position: absolute;
                top: 205px;
                left: 22%;
                z-index: 2;
                transform: translate(-50%);
            }

            .photoOnMap {
                position: absolute;
                transform: translate(-40%, -50%);
                top: 0;
                right: 0;

                img {
                    width: 100%;
                    display: inline-block;
                    max-width: 705px;
                    max-height: 554px;
                }

            }

            .strips {
                position: absolute;
                transform: translate(15%);
                top: 0;
                right: 0;
            }
        }
    }

    .orangeBorder {
        background-color: $color_awards;
        width: 850px;
        padding: 10px 10px 10px 10px;
        position: absolute;
        transform: translate(0%, 20%);
        bottom: 0;
        z-index: 1;
        right: 0;

        .textPS {
            top: 0;
            position: absolute;
            transform: translate(-40%, -72%);
            right: 0;
        }

        .orangeWhiteBorder {
            border: 2px solid$color_header_text;
            box-sizing: border-box;
            padding: 50px 50px 50px 50px;
            margin: 20px 20px 20px 20px;
            background-color: $color_awards;

            .textOnMap {
                font-family: $font_sections_head;
                color: $color_header_text;
                font-size: 56px;

                ul {
                    margin: 0;
                    list-style-type: none;
                }

                ul>li {
                    text-indent: -5px;
                }

                ul>li:before {
                    content: "- ";
                    text-indent: -5px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1680px) {
    article {
        width: 43%;
    }

    .topRightImageContainer {

        .bigImg {
            img {
                width: 80%;
            }
        }

        .crabImg {
            left: 25px !important;
        }
    }

    .bottomContainer {
        .overflow {
            .textBanner {
                .anchor {
                    margin-left: 4%;
                    transform: translateY(67%);
                }

                .downArrowVertical {
                    transform: translateY(148%);
                }
            }

            .mapImg {
                .photoOnMap {
                    transform: translate(-5%, -50%);
                }


                .wheel {
                    left: 38%;
                }

                .strips {
                    object-fit: cover;
                    transform: translate(51%);
                }
            }
        }

        .orangeBorder {
            transform: translate(0%, 20%);
            width: 810px;
            padding: 0;
        }
    }
}

@media only screen and (max-width: 1400px) {
    article {
        font-size: 1em;
        width: 40%;
    }

    .topRightImageContainer {

        .bigImg {
            img {
                width: 60%;
            }
        }

        .crabImg {
            bottom: -21px;
            left: 95px !important;
        }

        .textContainer {
            .textOnImg {
                transform: translateY(125%) !important;
            }

            .imgFale {
                transform: translate(31%, 69%) !important;
            }
        }
    }

    .bottomContainer {
        .overflow {
            .textBanner {
                .anchor {
                    margin-left: 4%;
                    transform: translateY(67%);
                }

                .downArrowVertical {
                    transform: translateY(148%);
                }
            }

            .mapImg {
                .photoOnMap {
                    transform: translate(24%, -48%) !important;

                    img {
                        width: 70%;
                    }
                }


                .wheel {
                    left: 46%;

                }

                .strips {
                    object-fit: cover;
                    transform: translate(58%);

                    img {
                        width: 70%;

                    }
                }
            }
        }

        .orangeBorder {
            transform: translate(0%, 20%);
            width: 50%;
            padding: 0;

            .orangeWhiteBorder {
                padding: 0;
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width: 1150px) {
    article {
        font-size: 1em;
        width: 49%;

        .whiteBorder {
            .border {
                padding: 0;
                margin: 0;
            }
        }
    }

    .topRightImageContainer {

        .bigImg {
            transform: translate(33%, -50%) !important;

            img {
                width: 40%;
            }
        }

        .crabImg {
            bottom: -14px;
            left: 153px !important;
        }

        .textContainer {
            .textOnImg {
                transform: translateY(60%) !important;
                width: 40% !important;
            }

            .imgFale {
                transform: translate(60%, 53%) !important;
            }
        }
    }

    .bottomContainer {
        .overflow {
            .textBanner {
                .anchor {
                    margin-left: 1%;
                    transform: translateY(56%);

                    img {
                        width: 50%;
                    }
                }

                .downArrowVertical {
                    transform: translateY(53%);
                }

                .textProps {
                    font-size: 0.5em;
                }
            }

            .mapImg {
                .photoOnMap {
                    transform: translate(61%, -42%) !important;

                    img {
                        width: 35%;
                    }
                }


                .wheel {
                    left: 84%;

                }

                .strips {
                    object-fit: cover;
                    transform: translate(78%, 21%);

                    img {
                        width: 35%;

                    }
                }
            }
        }

        .orangeBorder {
            transform: translate(0%, 20%);
            position: relative;
            width: 100%;
            margin-bottom: 20%;

            .orangeWhiteBorder {
                padding: 0;
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    body {
        margin: 10px !important;
    }

    .center-content {
        h1 {
            padding: 1rem 1rem;
            font-size: 42px;
        }
    }

    article {
        width: 100%;
        margin-top: 16%;

        .topRightImageContainer {
            .bigImg {
                position: relative;
                transform: none;
                transform: translate(36%, -93%) !important;
            }

            .crabImg {
                bottom: -11px;
                left: 69px !important;
            }

            .textContainer {
                .imgFale {
                    transform: translate(0%, 173%) !important;

                    img {
                        width: 100%;
                    }
                }

                .textOnImg {
                    transform: translateY(140%) !important;
                    width: 89% !important;
                }
            }

        }

        .whiteBorder {
            .rightArrowHorizontal {
                -webkit-transform: rotate(-0deg);
                -moz-transform: rotate(-0deg);
                -ms-transform: rotate(-0deg);
                -o-transform: rotate(-0deg);
                transform: rotate(-0deg);
                position: absolute;
                margin-top: -6%;
                left: 0;
            }
        }
    }

    .overflow {
        .textBanner {
            .anchor {
                img {
                    width: 30% !important;
                }
            }

            .downArrowVertical {
                transform: translateY(37%);

                img {
                    width: 65%;
                }
            }
        }

        .mapImg {
            position: relative;
            margin-bottom: 10%;
            transform: scale(1.5);

            img {
                width: 100%;
                margin-top: 12%;
            }

            .photoOnMap {

                img {
                    width: 20% !important;
                    margin-top: 23%;
                }
            }

            .wheel {
                width: 6%;
                left: 38% !important;
                transform: translateY(-299%) !important;
            }

            .strips {
                transform: translate(71%, 23%) !important;

                img {
                    width: 15% !important;
                }
            }
        }
    }

    .bottomContainer {
        margin-top: 80%;
        font-size: 1.5rem;

        .orangeBorder {
            transform: translate(0%, 30%) !important;

            .orangeWhiteBorder {
                .textOnMap {
                    font-size: 35px;
                }
            }
        }
    }
}