@import './config.scss';

.footer {
    background: #EFEFED 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 178px;

    &__Text {
        text-align: left;
        padding: 80px 0 0 80px;
        letter-spacing: 0;
        opacity: 1;
        font: 20px $font_footer;

        &--bold {
            color: $color_awards;
            font-weight: bold;
        }
    }

}